= render 'commons/header'

-# .header
-#   .header_main
-#     .inner
-#       = link_to 'ふるセレ', root_path

.previews
  .slider
    = image_tag 'article1.png'
    = image_tag 'hotate.webp'
    = image_tag 'flower.jpg'
    = image_tag 'ikura.jpg'
    = image_tag 'strawberry.jpg'
    = image_tag 'pork.jpg'
    = image_tag 'vegetables.jpg'
    = image_tag 'salmon.jpg'
    = image_tag 'beaf.jpg'


.explanation
  .explanation.title
    %h3 「ふるセレ」とは

  .explanation-content
    %p
      たった一分で、あなたのふるさと納税の商品を選びます。
      %br/
      忙しくて時間がない
      初めてで何を選んだら良いかわからない方は
      %br/
      %br/
      ぜひお試しください！
      %br/
      .button
        = link_to '試してみる', new_select_path, class: 'btn secondary'

.explanation
  .explanation.title
    %h3 〜そもそもふるさと納税って何？〜

  .explanation-content
    = image_tag 'furusato_nouzei.png'
    %p
      実質2,000の負担で、各地の美味しい名産品がもらえちゃいます！
      %br/
      %br/
      税金の控除もあってお得だし、ワンストップ特例申請制度を使えば確定申告もいりません。
      %br/
      この機会にぜひやってみましょう！



.charm
  .charm.title
    %h3 〜ふるさと納税の何が良いのか〜
  .charm-content
    %ul
      %li.charm-content-item
        .charm-content-item-num
          %p １
        .charm-content-item-title
          %p 様々な地域に寄付ができる
        .charm-content-item-text
          %p 
            ご自身の出身地に限らず
            %br/
            全国の自治体に寄付ができる！
      %li.charm-content-item
        .charm-content-item-num
          %p ２
        .charm-content-item-title
          %p 寄付の使い道が選べる
        .charm-content-item-text
          %p
            まちづくりや復興支援など
            %br/
            使い道を指定できる自治体も！
      %li.charm-content-item
        .charm-content-item-num
          %p ３
        .charm-content-item-title
          %p お礼品がもらえる
        .charm-content-item-text
          %p
          応援した地域の
          %br/
          特産品などが届く

.step.title
  %h3 〜手続きの方法〜
%ul.step
  %li
    %span.icon 01
    %dl
      %dt 上限額
      %dd 税金が控除される上限額を調べよう
      %br/
  %li
    %span.icon 02
    %dl
      %dt 選ぶ
      %dd
        好きな商品を選ぼう
        %br/
        %br/
        %br/
  %li
    %span.icon 03
    %dl
      %dt 商品購入
      %dd 自治体に寄付する（ふるさと納税対象商品を購入する）
  %li
    %span.icon 04
    %dl
      %dt 申請
      %dd ワンストップ申請書で控除手続きをする
      %br/
%p たったこれだけ！

.button
  = link_to 'まずは商品を選んでみる', new_select_path, class: 'btn secondary'
%br/
%br/

.btn.primary
  = link_to '会員登録', new_user_registration_path, class: 'link-btn'
  %br/
  %p 会員登録をすると、過去の選択履歴が確認できます。
  %br/

.btn.primary
  = link_to 'ログイン', new_user_session_path, class: 'link-btn'
  %br/
  %p 会員登録済みの方はこちら

= javascript_pack_tag 'top'

