= render 'commons/header'
.personal
  .personal-title
    %h3 あなたの情報を入力してください
  .personal-form
    .personal-form-group
      = form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .personl-form-group-income
          %i.fas.fa-money-check
          = f.label :income, '年収    '
          %br/
          = f.collection_select :income_id, Income.all, :id, :annual_income
        .personal-form-group-family
          %i.fas.fa-house-user
          = f.label :family, '家族構成'
          %br/
          = f.collection_select :family_id, Family.all, :id, :family_member
        .personal-form-group-btn
          = f.submit '登録する', class: 'btn-primary', id: 'file-btn'
      %p ＊算出される金額はあくまで目安であり、正確な計算は寄付翌年1月～2月にお住まいの市町村にお尋ねください。
      -# .field
      -#   = f.label :email
      -#   %br/
      -#   = f.email_field :email, autofocus: true, autocomplete: "email"
      -# - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      -#   %div
      -#     Currently waiting confirmation for: #{resource.unconfirmed_email}
      -# .field
      -#   = f.label :password
      -#   %i (leave blank if you don't want to change it)
      -#   %br/
      -#   = f.password_field :password, autocomplete: "new-password"
      -#   - if @minimum_password_length
      -#     %br/
      -#     %em
      -#       = @minimum_password_length
      -#       characters minimum
      -# .field
      -#   = f.label :password_confirmation
      -#   %br/
      -#   = f.password_field :password_confirmation, autocomplete: "new-password"
      -# .field
      -#   = f.label :current_password
      -#   %i (we need your current password to confirm your changes)
      -#   %br/
      -#   = f.password_field :current_password, autocomplete: "current-password"
  -# %h3 Cancel my account
  -# %p
  -#   Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  -# = link_to "Back", :back
= render 'commons/footer'
