= render 'commons/header'

.container
  %ul
    - @user.errors.full_messages.each do |message|
      %li= message
      
.personal
  .personal-title
    %h3 あなたの情報を入力してください
  .personal-form
    .personal-form-group
      = form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .personl-form-group-income
          %i.fas.fa-money-check
          = f.label :income, '年収   '
          %br/
          = f.collection_select :income_id, Income.all, :id, :annual_income
          %p 
        .personal-form-group-family
          %i.fas.fa-house-user
          = f.label :family, '家族構成'
          %br/
          = f.collection_select :family_id, Family.all, :id, :family_member
        .personal-form-group-btn
          = f.submit '登録する', class: 'btn-primary', id: 'file-btn'
      %p  ※年収と家族構成により控除上限額の目安をシミュレーションできます。
      %p  ※年収は額面での金額を選択してください。
      %p  ※配偶者控除無し：配偶者の給与収入が２０１万円以上ある方
      %p  ※中学生以下の子どもがいる場合、控除額の計算上は特に影響がありません。例えば、共働きで小学生の子供が1人の場合は、「既婚・共働き」の金額をご参照ください。また、夫婦で高校生の子供が1人、中学生の子供が1人の場合は、「＋子1人（高校生）」の金額をご参照ください。
      %p  ※算出される金額はあくまで目安であり、正確な計算は寄付翌年1月～2月にお住まいの市町村にお尋ねください。
= render 'commons/footer'
