= render 'commons/header'



.previews
  %h3 「ふるセレ」はふるさと納税支援サイトです
  .slider
    -# = image_tag 'furusato.jpg'
    = image_tag 'farmer.jpg'
    = image_tag 'ikura.jpg'
    = image_tag 'rice.jpg'
    -# = image_tag 'vegetables.jpg'
    = image_tag 'crab.jpg'
    = image_tag 'strawberry.jpg'
    = image_tag 'pork.jpg'
    -# = image_tag 'beaf.jpg'

.explanation
  .explanation.title
    %h3
      %span.under> 「ふるセレ（ふるさとセレクト）」
      とは

  .explanation-content
    .explanation-character
      =image_tag 'fulltan.png'
      %p ふるたん
    %p ふるセレとは、ふるさと納税の商品選択のお手伝いをするサイトです。
    %p 簡単な操作で、あなたへのおすすめの商品をご紹介します。
    %p 忙しくて時間がない、初めてで何を選んだら良いかわからない方はぜひお試しください！
    %br/
    %br/
    %br/
.sample
  %p
    ①年収・家族構成を登録
  .personal-image
    =image_tag 'sample_personal_image.png'
    %br/
  %p
    ②カテゴリーを選ぶ
    %br/
    例：「いくら」と「明太子・たらこ」を選択し登録
    .category-image
      =image_tag 'sample_category.png'
    %br/
  %p
    %br/
    ③控除額と選択したカテゴリーからおすすめの商品を表示
    .history-image
      = image_tag 'ikura.jpg'
      = image_tag 'sample_mentaiko.jpg'
    %br/
    .icon
      %i.fas.fa-angle-double-down
    .button
      - if user_signed_in?
        = link_to '試してみる', edit_user_registration_path, class: 'btn secondary'
      - else
        = link_to 'ログイン', edit_user_registration_path, class: 'btn secondary'
      %br/



-# .button
-#   = link_to 'まずは商品を選んでみる', edit_user_registration_path, class: 'btn secondary'
-# %br/
-# %br/

= link_to 'ふるさと納税について詳しく知る', tops_path, class: 'link-btn'
%br/
%br/
- unless user_signed_in?
  = link_to '会員登録', new_user_registration_path, class: 'link-btn'
  %p 会員登録でできること
  %p 　①過去の選択履歴が確認できる
  %p 　②より細かいカテゴリー選択ができる（サブカテゴリー追加）
  %p 　②複数のカテゴリーで商品検索できる
  %br/
  = link_to 'ログイン', new_user_session_path, class: 'link-btn'
  %p 会員登録済みの方はこちら
  %br/
  = link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:'link-btn'

= render 'commons/footer'

= javascript_pack_tag 'top'
