= render 'commons/header'

.explanation
  .explanation.title
    %h3
      そもそも、
      %span.under> ふるさと納税
      って何？


  .explanation-content
    = image_tag 'furusato_nouzei.png'
    %p
      実質2,000円の負担で、各地の美味しい名産品がもらえます！
      %br/
      %br/
      税金の控除もあってお得だし、ワンストップ特例申請制度を使えば確定申告もいりません。
      %br/
      この機会にぜひやってみましょう！
      %br
      %br
      詳しい内容は各自治体のホームページ、または
      %span>ふるさと納税支援サイト
      をご確認ください。



.charm
  .charm.title
    %h3
      ふるさと納税の
      %span.under> ポイント
  .charm-content
    %ul
      %li
        .charm-item-title
          %p ①　様々な地域に寄付ができる
        .charm-item-text
          %p
            ご自身の出身地に限らず全国の自治体に寄付ができる！
      %li
        .charm-item-title
          %p ②　寄付の使い道が選べる
        .charm-item-text
          %p
            まちづくりや復興支援など使い道を指定できる自治体も！
      %li
        .charm-item-title
          %p ③　お礼品がもらえる
        .charm-item-text
          %p
          応援した地域の特産品などが届く

.step.title
  %h3
    %span.under> 手続き
    の方法
%ul.step
  %li
    %span.icon 01
    %dl
      %dt 知る
      %dd 税金が控除される上限額を調べよう
      %br/
  %li
    %span.icon 02
    %dl
      %dt 選ぶ
      %dd
        ふるさと納税対象の商品を選ぼう
        %br/
        %br/
  %li
    %span.icon 03
    %dl
      %dt 買う
      %dd 自治体に寄付する（ふるさと納税対象商品を購入する）
  %li
    %span.icon 04
    %dl
      %dt 申請
      %dd ワンストップ申請書で控除手続きをする
      %br/
%br/
.button
  = link_to '試してみる', edit_user_registration_path, class: 'btn secondary'
.btn.primary
  = link_to '会員登録', new_user_registration_path, class: 'link-btn'
  %br/
  %p 会員登録をすると、過去の選択履歴が確認できます。
  %br/

.btn.primary
  = link_to 'ログイン', new_user_session_path, class: 'link-btn'
  %br/
  %p 会員登録済みの方はこちら
  %br/
  %br/