= render 'commons/header'
.result
  .result.title
    %h3 結果一覧
  .result-category-title-first
  %ul
    %li.result-category-image
      = image_tag 'hotate.webp'
      .result-category-name
        %h4 オホーツク産ホタテ冷大
      .result-category-city
        %p 北海道紋別市
      .result-category-amount
        %p 寄付金額　20,000円
      .result-category-comment
        %p 厳選した大粒のオホーツク産ホタテをたっぷり１kgお届けします。

    %li.result-category-image
      = image_tag 'hotate.webp'
      .result-category-name
        %h4 オホーツク産ホタテ冷大
      .result-category-city
        %p 北海道紋別市
      .result-category-amount
        %p 寄付金額　20,000円
      .result-category-comment
        %p 厳選した大粒のオホーツク産ホタテをたっぷり１kgお届けします。

    %li.result-category-image
      = image_tag 'hotate.webp'
      .result-category-name
        %h4 オホーツク産ホタテ冷大
      .result-category-city
        %p 北海道紋別市
      .result-category-amount
        %p 寄付金額　20,000円
      .result-category-comment
        %p 厳選した大粒のオホーツク産ホタテをたっぷり１kgお届けします。
        
    %li.result-category-image
      = image_tag 'hotate.webp'
      .result-category-name
        %h4 オホーツク産ホタテ冷大
      .result-category-city
        %p 北海道紋別市
      .result-category-amount
        %p 寄付金額　20,000円
      .result-category-comment
        %p 厳選した大粒のオホーツク産ホタテをたっぷり１kgお届けします。

    %li.result-category-image
      = image_tag 'hotate.webp'
      .result-category-name
        %h4 オホーツク産ホタテ冷大
      .result-category-city
        %p 北海道紋別市
      .result-category-amount
        %p 寄付金額　20,000円
      .result-category-comment
        %p 厳選した大粒のオホーツク産ホタテをたっぷり１kgお届けします。

.footer
  .link
    .link-twitter
      %i.fab.fa-twitter-square.fa-3x
      %p 共有しよう！
    %ul
      %li
        = link_to 'https://www.satofull.jp/' do
          .link-title
            %h1 さ
          .link-comment
            %p さとふる
      %li
        = link_to 'https://event.rakuten.co.jp/furusato/' do
          .link-image
            = image_tag 'rakuten.png'
          .link-comment
            %p 楽天ふるさと納税
.footer
  お問い合わせ

= javascript_pack_tag 'top'