
= render 'commons/header'
%h3.deduction
  = "控除上限額の目安：#{@deduction.deduction.to_s(:delimited)}円"

.history-title
  %h3 あなたが選んだ商品
.history-list
  -@histories.limit(5).each do |history|
    .history-time
      = history.created_at.strftime('%Y/%m/%d')
    %ul.history_detail-list
      - history.history_detail.each do |item|
        %li
          = link_to item.link do
            .result-image
              = image_tag item.picture_image_path
            .result-name
              %p
                = item.name
            .result-city
              %p
                = item.city
            .result-price
              %p
                = item.price.to_s
            .result-description
            .result-review
              = image_tag item.review_image_path


.link
  -# .link-twitter
  -#   %i.fab.fa-twitter-square.fa-3x
  -#   %p 共有しよう！
  %h4 他にも気になる商品があればリンク先から検索ください。
  %h4 地域別にも商品を選ぶことができます。
  %ul
    %li
      = link_to 'https://www.satofull.jp/' do
        -# .link-title
        -#   %p さ
        .link-satofull
          %i.fas.fa-angle-right　さとふる
    %li
      = link_to 'https://event.rakuten.co.jp/furusato/' do
        -# .link-image
        -#   = image_tag 'rakuten.png'
        .link-rakuten
          %i.fas.fa-angle-right　楽天ふるさと納税

