
= render 'commons/header'

.deduction
  = "控除額：#{@deduction.deduction.to_s(:delimited)}円"
-# .select-catgory
-#   = "あなたの選んだカテゴリーは#{Category.find(id: @category.id).name}です"

.result
  .result-title
    %h3 結果一覧
  %ul
    -# - @history_detail.each do |history_detail|
    - @history_details.each do |item|
      %li
        = link_to item.link do
          .result-image
            = image_tag item.picture_image_path
          .result-name
            %h4
              = item.name
          .result-city
            %p
              = item.city
          .result-price
            %p
              = item.price
          .result-description
            %p
              = item.description
          .result-review
            = image_tag item.review_image_path


.link
  -# .link-twitter
  -#   %i.fab.fa-twitter-square.fa-3x
  -#   %p 共有しよう！
  %h4 。
  %ul
    %li
      = link_to 'https://www.satofull.jp/' do
        -# .link-title
        -#   %p さ
        .link-satofull
          %i.fas.fa-angle-right 　さとふる
    %li
      = link_to 'https://event.rakuten.co.jp/furusato/' do
        -# .link-image
        -#   = image_tag 'rakuten.png'
        .link-rakuten
          %i.fas.fa-angle-right 　楽天ふるさと納税

= render 'commons/footer'

-# = javascript_pack_tag 'top'