.header
  .header-main
    .inner
      %ul.nav
        %li
          -# - if current_page?(root_path)
          - if user_signed_in?
            = link_to 'ログアウト', destroy_user_session_path, data: {method: 'delete' }
          - else
            = link_to 'ログイン', new_user_session_path
        %li
          = link_to '商品を選ぶ', new_category_path
        %li
          - if user_signed_in?
            = link_to 'マイページ', histories_path
          - else
            = link_to '会員登録', new_user_registration_path
        -# %li
        -#   = link_to 'ふるさと', "#"
      .header-main-tagline
        %p ふるさと納税の商品を選ぶなら
  .header-title
    = link_to 'ふるセレ', root_path


  -# .header_explanation
  -#   = link_to select_path do
  -#     .header_explanation_image
  -#       = image_tag 'wakaba.png'
  -#     .header_explanation_title
  -#       %p ふるさと納税とは
-# = javascript_pack_tag 'top'



