.header
  .header_top
    .inner
      %p ふるさとセレクト
  .header_main
    .inner
      -# %i.fas.fa-utensils
      = link_to 'ふるセレ', root_path
      -# %i.fas.fa-drumstick-bite

  .header_explanation
    = link_to select_path do
      .header_explanation_image
        = image_tag 'wakaba.png'
      .header_explanation_title
        %p ふるさと納税とは

  .log-in
    - if user_signed_in?
      = link_to 'ログアウト', destroy_user_session_path, data: {method: 'delete' }
    - else
      = link_to 'ログイン', new_user_session_path

