
= render 'commons/header'
.deduction
  = "あなたの控除額は#{@deduction.deduction.to_s(:delimited)}円です"
.select-catgory
  = "あなたの選んだカテゴリーは#{Category.find(@category.id).name}です"
 
.result
  .result-title
    %h3 結果一覧
  %ul
    -@item.each do |item|
      %li
        = link_to item.link do
          .result-image
            = image_tag item.picture_image_path
          .result-name
            %h4
              = item.name
          .result-city
            %p
              = item.city
          .result-price
            %p
              = item.price
          .result-description
            %p
              = item.description
          .result-review
            = image_tag item.review_image_path

.footer
  .link
    .link-twitter
      %i.fab.fa-twitter-square.fa-3x
      %p 共有しよう！
    %ul
      %li
        = link_to 'https://www.satofull.jp/' do
          .link-title
            %h1 さ
          .link-comment
            %p さとふる
      %li
        = link_to 'https://event.rakuten.co.jp/furusato/' do
          .link-image
            = image_tag 'rakuten.png'
          .link-comment
            %p 楽天ふるさと納税
.footer
  お問い合わせ

= javascript_pack_tag 'top'