!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Furu-sele
    = csrf_meta_tags
    = csp_meta_tag
    = include_gon
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# %link{:href => "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "slick.scss", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "slick-theme.scss", :rel => "stylesheet", :type => "text/css"}/
    -# %script{:src => "http://code.jquery.com/jquery-1.11.0.min.js", :type => "text/javascript"}
    -# %script{:src => "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", :type => "text/javascript"}
    -# %script{:src => "./slick/slick.min.js", :type => "text/javascript"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/6d7c996bbb.js"}
    = analytics_init if Rails.env.production?

  %body
  %body{:text => "#333333"}
    = yield

-# %script{:src => "https://code.jquery.com/jquery-3.4.1.js"}
-# %script{:charset => "UTF-8", :src => "js/application.js"}

